mixin gallery()

  -
    const gallerySlider = [
      {
        path: "slides", img: "sauna-1", format: "png", width: 430, height: 242, alttext: "Проект сауны", dataAttr: "sauna",
      },
      {
        path: "slides", img: "hamam-2", format: "png", width: 430, height: 242, alttext: "Проект сауны", dataAttr: "hamam",
      },
      {
        path: "slides", img: "bath-3", format: "png", width: 430, height: 242, alttext: "Проект сауны", dataAttr: "bath",
      },
      {
        path: "slides", img: "sauna-4", format: "png", width: 430, height: 242, alttext: "Проект сауны", dataAttr: "sauna",
      },
      {
        path: "slides", img: "sauna-5", format: "png", width: 430, height: 242, alttext: "Проект сауны", dataAttr: "sauna",
      },
      {
        path: "slides", img: "hamam-6", format: "png", width: 430, height: 242, alttext: "Проект сауны", dataAttr: "hamam",
      },
      {
        path: "slides", img: "sauna-7", format: "png", width: 430, height: 242, alttext: "Проект сауны", dataAttr: "sauna",
      },
      {
        path: "slides", img: "bath-8", format: "png", width: 430, height: 242, alttext: "Проект сауны", dataAttr: "bath",
      },
      {
        path: "slides", img: "bath-1", format: "png", width: 430, height: 242, alttext: "Проект сауны", dataAttr: "bath",
      },
      {
        path: "slides", img: "sauna-2", format: "png", width: 430, height: 242, alttext: "Проект сауны", dataAttr: "sauna",
      },
      {
        path: "slides", img: "hamam-3", format: "png", width: 430, height: 242, alttext: "Проект сауны", dataAttr: "hamam",
      },
      {
        path: "slides", img: "bath-4", format: "png", width: 430, height: 242, alttext: "Проект сауны", dataAttr: "bath",
      },
      {
        path: "slides", img: "hamam-5", format: "png", width: 430, height: 242, alttext: "Проект сауны", dataAttr: "hamam",
      },
      {
        path: "slides", img: "bath-6", format: "png", width: 430, height: 242, alttext: "Проект сауны", dataAttr: "bath",
      },
      {
        path: "slides", img: "hamam-7", format: "png", width: 430, height: 242, alttext: "Проект сауны", dataAttr: "hamam",
      },
      {
        path: "slides", img: "sauna-8", format: "png", width: 430, height: 242, alttext: "Проект сауны", dataAttr: "sauna",
      },
      {
        path: "slides", img: "hamam-1", format: "png", width: 430, height: 242, alttext: "Проект сауны", dataAttr: "hamam",
      },
      {
        path: "slides", img: "bath-2", format: "png", width: 430, height: 242, alttext: "Проект сауны", dataAttr: "bath",
      },
      {
        path: "slides", img: "sauna-3", format: "png", width: 430, height: 242, alttext: "Проект сауны", dataAttr: "sauna",
      },
      {
        path: "slides", img: "hamam-4", format: "png", width: 430, height: 242, alttext: "Проект сауны", dataAttr: "hamam",
      },
      {
        path: "slides", img: "bath-5", format: "png", width: 430, height: 242, alttext: "Проект сауны", dataAttr: "bath",
      },
      {
        path: "slides", img: "sauna-6", format: "png", width: 430, height: 242, alttext: "Проект сауны", dataAttr: "sauna",
      },
      {
        path: "slides", img: "bath-7", format: "png", width: 430, height: 242, alttext: "Проект сауны", dataAttr: "bath",
      },
      {
        path: "slides", img: "hamam-8", format: "png", width: 430, height: 242, alttext: "Проект сауны", dataAttr: "hamam",
      }
    ]

  section.gallery
    .gallery__intro
      h2.gallery__title Галерея
      p Фильтры должны фильтровать изображения без перезагрузки. Адаптивность: между реперными точками — пропорциональное масштабирование, далее уменьшение кол-ва фото в строке. Пролистывание должно быть по 8 фото (страницами) для дектопа, по 4 фото на мобилке. Стрелки появляются только при наведении на блок с фото. Галерея должна быть сделана на JS или JQuery, но без плагинов.
      .gallery__filter
        button.btn.btn__filter.btn--bath(data-filter="bath") Бани
        button.btn.btn__filter.btn--sauna(data-filter="sauna") Сауны
        button.btn.btn__filter.btn--hamam(data-filter="hamam") Хаммамы
        button.btn.btn__filter.btn--all(data-filter="all") Всё
    .container
      .gallery__slider
        .gallery__slider-track
          each picture in gallerySlider
            .gallery__slide(data-type = `${picture.dataAttr}`)
              +picture(picture.path, picture.img, picture.format, picture.width, picture.height, picture.altText)
        button.gallery__btn-prev
          +icon("icon-arrow-left", 32, 32)
        button.gallery__btn-next
          +icon("icon-arrow-right", 32, 32)
        #indicators(class="indicators")
