mixin gallery()
  -
    const gallerySlider = [
      {
        path: "slides", img: "sauna-1", format: "png", width: 430, height: 242, altText: "Проект сауны", dataAttr: "sauna",
      },
      {
        path: "slides", img: "hamam-2", format: "png", width: 430, height: 242, altText: "Проект сауны", dataAttr: "hamam",
      },
      {
        path: "slides", img: "bath-3", format: "png", width: 430, height: 242, altText: "Проект сауны", dataAttr: "bath",
      },
      {
        path: "slides", img: "sauna-4", format: "png", width: 430, height: 242, altText: "Проект сауны", dataAttr: "sauna",
      },
      {
        path: "slides", img: "sauna-5", format: "png", width: 430, height: 242, altText: "Проект сауны", dataAttr: "sauna",
      },
      {
        path: "slides", img: "hamam-6", format: "png", width: 430, height: 242, altText: "Проект сауны", dataAttr: "hamam",
      },
      {
        path: "slides", img: "sauna-7", format: "png", width: 430, height: 242, altText: "Проект сауны", dataAttr: "sauna",
      },
      {
        path: "slides", img: "bath-8", format: "png", width: 430, height: 242, altText: "Проект сауны", dataAttr: "bath",
      },
      {
        path: "slides", img: "bath-1", format: "png", width: 430, height: 242, altText: "Проект сауны", dataAttr: "bath",
      },
      {
        path: "slides", img: "sauna-2", format: "png", width: 430, height: 242, altText: "Проект сауны", dataAttr: "sauna",
      },
      {
        path: "slides", img: "hamam-3", format: "png", width: 430, height: 242, altText: "Проект сауны", dataAttr: "hamam",
      },
      {
        path: "slides", img: "bath-4", format: "png", width: 430, height: 242, altText: "Проект сауны", dataAttr: "bath",
      },
      {
        path: "slides", img: "hamam-5", format: "png", width: 430, height: 242, altText: "Проект сауны", dataAttr: "hamam",
      },
      {
        path: "slides", img: "bath-6", format: "png", width: 430, height: 242, altText: "Проект сауны", dataAttr: "bath",
      },
      {
        path: "slides", img: "hamam-7", format: "png", width: 430, height: 242, altText: "Проект сауны", dataAttr: "hamam",
      },
      {
        path: "slides", img: "sauna-8", format: "png", width: 430, height: 242, altText: "Проект сауны", dataAttr: "sauna",
      },
      {
        path: "slides", img: "hamam-1", format: "png", width: 430, height: 242, altText: "Проект сауны", dataAttr: "hamam",
      },
      {
        path: "slides", img: "bath-2", format: "png", width: 430, height: 242, altText: "Проект сауны", dataAttr: "bath",
      },
      {
        path: "slides", img: "sauna-3", format: "png", width: 430, height: 242, altText: "Проект сауны", dataAttr: "sauna",
      },
      {
        path: "slides", img: "hamam-4", format: "png", width: 430, height: 242, altText: "Проект сауны", dataAttr: "hamam",
      },
      {
        path: "slides", img: "bath-5", format: "png", width: 430, height: 242, altText: "Проект сауны", dataAttr: "bath",
      },
      {
        path: "slides", img: "sauna-6", format: "png", width: 430, height: 242, altText: "Проект сауны", dataAttr: "sauna",
      },
      {
        path: "slides", img: "bath-7", format: "png", width: 430, height: 242, altText: "Проект сауны", dataAttr: "bath",
      },
      {
        path: "slides", img: "hamam-8", format: "png", width: 430, height: 242, altText: "Проект сауны", dataAttr: "hamam",
      },
      {
        path: "slides", img: "bath-8", format: "png", width: 430, height: 242, altText: "Проект сауны", dataAttr: "bath",
      },
      {
        path: "slides", img: "bath-1", format: "png", width: 430, height: 242, altText: "Проект сауны", dataAttr: "bath",
      },
      {
        path: "slides", img: "sauna-2", format: "png", width: 430, height: 242, altText: "Проект сауны", dataAttr: "sauna",
      },
      {
        path: "slides", img: "hamam-3", format: "png", width: 430, height: 242, altText: "Проект сауны", dataAttr: "hamam",
      },
      {
        path: "slides", img: "bath-4", format: "png", width: 430, height: 242, altText: "Проект сауны", dataAttr: "bath",
      },
      {
        path: "slides", img: "hamam-5", format: "png", width: 430, height: 242, altText: "Проект сауны", dataAttr: "hamam",
      },
      {
        path: "slides", img: "bath-6", format: "png", width: 430, height: 242, altText: "Проект сауны", dataAttr: "bath",
      },
      {
        path: "slides", img: "hamam-7", format: "png", width: 430, height: 242, altText: "Проект сауны", dataAttr: "hamam",
      },
      {
        path: "slides", img: "bath-1", format: "png", width: 430, height: 242, altText: "Проект сауны", dataAttr: "bath",
      },
      {
        path: "slides", img: "sauna-2", format: "png", width: 430, height: 242, altText: "Проект сауны", dataAttr: "sauna",
      },
      {
        path: "slides", img: "hamam-3", format: "png", width: 430, height: 242, altText: "Проект сауны", dataAttr: "hamam",
      },
      {
        path: "slides", img: "bath-4", format: "png", width: 430, height: 242, altText: "Проект сауны", dataAttr: "bath",
      },
      {
        path: "slides", img: "hamam-5", format: "png", width: 430, height: 242, altText: "Проект сауны", dataAttr: "hamam",
      },
      {
        path: "slides", img: "bath-6", format: "png", width: 430, height: 242, altText: "Проект сауны", dataAttr: "bath",
      },
      {
        path: "slides", img: "hamam-7", format: "png", width: 430, height: 242, altText: "Проект сауны", dataAttr: "hamam",
      },
      {
        path: "slides", img: "sauna-8", format: "png", width: 430, height: 242, altText: "Проект сауны", dataAttr: "sauna",
      },
      {
        path: "slides", img: "sauna-5", format: "png", width: 430, height: 242, altText: "Проект сауны", dataAttr: "sauna",
      },
      {
        path: "slides", img: "hamam-6", format: "png", width: 430, height: 242, altText: "Проект сауны", dataAttr: "hamam",
      },
      {
        path: "slides", img: "sauna-7", format: "png", width: 430, height: 242, altText: "Проект сауны", dataAttr: "sauna",
      },
      {
        path: "slides", img: "bath-8", format: "png", width: 430, height: 242, altText: "Проект сауны", dataAttr: "bath",
      },
      {
        path: "slides", img: "bath-1", format: "png", width: 430, height: 242, altText: "Проект сауны", dataAttr: "bath",
      },
      {
        path: "slides", img: "sauna-2", format: "png", width: 430, height: 242, altText: "Проект сауны", dataAttr: "sauna",
      },
      {
        path: "slides", img: "hamam-3", format: "png", width: 430, height: 242, altText: "Проект сауны", dataAttr: "hamam",
      },
      {
        path: "slides", img: "bath-4", format: "png", width: 430, height: 242, altText: "Проект сауны", dataAttr: "bath",
      },
      {
        path: "slides", img: "bath-2", format: "png", width: 430, height: 242, altText: "Проект сауны", dataAttr: "bath",
      },
      {
        path: "slides", img: "sauna-3", format: "png", width: 430, height: 242, altText: "Проект сауны", dataAttr: "sauna",
      },
      {
        path: "slides", img: "hamam-4", format: "png", width: 430, height: 242, altText: "Проект сауны", dataAttr: "hamam",
      },
      {
        path: "slides", img: "bath-5", format: "png", width: 430, height: 242, altText: "Проект сауны", dataAttr: "bath",
      },
      {
        path: "slides", img: "sauna-6", format: "png", width: 430, height: 242, altText: "Проект сауны", dataAttr: "sauna",
      },
      {
        path: "slides", img: "bath-7", format: "png", width: 430, height: 242, altText: "Проект сауны", dataAttr: "bath",
      },
      {
        path: "slides", img: "hamam-8", format: "png", width: 430, height: 242, altText: "Проект сауны", dataAttr: "hamam",
      },
      {
        path: "slides", img: "bath-8", format: "png", width: 430, height: 242, altText: "Проект сауны", dataAttr: "bath",
      },
      {
        path: "slides", img: "hamam-5", format: "png", width: 430, height: 242, altText: "Проект сауны", dataAttr: "hamam",
      },
      {
        path: "slides", img: "bath-6", format: "png", width: 430, height: 242, altText: "Проект сауны", dataAttr: "bath",
      },
      {
        path: "slides", img: "hamam-7", format: "png", width: 430, height: 242, altText: "Проект сауны", dataAttr: "hamam",
      },
      {
        path: "slides", img: "sauna-8", format: "png", width: 430, height: 242, altText: "Проект сауны", dataAttr: "sauna",
      },
      {
        path: "slides", img: "hamam-1", format: "png", width: 430, height: 242, altText: "Проект сауны", dataAttr: "hamam",
      },
      {
        path: "slides", img: "bath-2", format: "png", width: 430, height: 242, altText: "Проект сауны", dataAttr: "bath",
      },
      {
        path: "slides", img: "sauna-3", format: "png", width: 430, height: 242, altText: "Проект сауны", dataAttr: "sauna",
      },
      {
        path: "slides", img: "hamam-4", format: "png", width: 430, height: 242, altText: "Проект сауны", dataAttr: "hamam",
      },
    ]

  section.gallery#gallery
    .gallery__intro
      .container
        h2.gallery__title Галерея
        p.gallery__paragraph Фильтры должны фильтровать изображения без перезагрузки. Адаптивность: между реперными точками — пропорциональное масштабирование, далее уменьшение кол-ва фото в строке. Пролистывание должно быть по 8 фото (страницами) для дектопа, по&nbsp;4 фото на мобилке. Стрелки появляются только при наведении на блок с фото. Галерея должна быть сделана на&nbsp;JS&nbsp;или JQuery, но без плагинов.
        .gallery__filter.filter
          button.btn.filter__btn.btn--gray(type="button" data-filter="bath") Бани
          button.btn.filter__btn.btn--gray(type="button" data-filter="sauna") Сауны
          button.btn.filter__btn.btn--gray(type="button" data-filter="hamam") Хаммамы
          button.btn.filter__btn.btn--gray(type="button" data-filter="all") Всё
    .gallery__slider.slider
      .container
        .slider__track
          each picture in gallerySlider
            .slider__slide(data-type = `${picture.dataAttr}`)
              +picture(picture.path, picture.img, picture.format, picture.width, picture.height, picture.altText)
        button(type="button").slider__btn-prev.btn.btn--prev
          +icon("icon-arrow-left", 32, 32)
        button(type="button").slider__btn-next.btn.btn--next
          +icon("icon-arrow-right", 32, 32)
        .slider__pagination.pagination
