mixin intro()
  section.intro
    //- вставлять блоки во внешний контейнер неверно
    //- все блоки содержат в себе container без доп класса tutorial__wrapper
    .container
      .intro__breadcrumbs.breadcrumbs
        a.breadcrumbs__link(href="#") Главная /
        a.breadcrumbs__link(href="#") Тестовое задание
      h1.intro__title Тестовое задание
