mixin intro()
  section.intro
    .container
      .intro__breadcrumbs.breadcrumbs
        a.breadcrumbs__link(href="#") Главная
        a.breadcrumbs__link(href="#") Тестовое задание
      h1.intro__title Тестовое задание
