mixin section-table()
  section.section-table
    .container
      h2 Таблица
      p Должна быть адаптивной, без дублирования информации.
      table.table
        tr
          th Название
          th Материал
          th Размер
          th Цена
        tr
          td Стеновой паркет
          td Ольха
          td 13 × 78 × 300 мм
          td 52 ₽
            button(type="button").btn В корзину
        tr
          td Стеновой паркет
          td Ольха
          td 13 × 78 × 600 мм
          td 112 ₽
            button(type="button").btn В корзину
        tr
          td Доска для пола, сорт А
          td Лиственница
          td 27 × 134 × 2000 мм
          td 1062 ₽
            button(type="button").btn В корзину
        tr
          td Вагонка
          td Термо-абаш
          td 19 × 90 × 2000 мм
          td 1009 ₽
            button(type="button").btn В корзину


