mixin section-form()
  section.section-form#form
    .container
      h2.section-form__title Форма
      p.section-form__paragraph Должна иметь проверку полей: обязательное поле, формат, минимальное значение. При несоответствии должна выводиться соответствующая ошибка. Поле «Телефон» должен содержать маску ввода. Проверка, маска и вывод ошибки должны быть сделаны на JS или JQuery, но без плагинов.
      .section-form__wrapper
        form(action="https://echo.htmlacademy.ru" method="post")
          h3.section-form__heading Заказать проект
          .input-wrapper
            label(for="name-project") Название
            input(type="text" id="name-project" required)
          .input-wrapper.input-wrapper--slider.range-slider
            label(for="custom-slider") Стоимость
            .range-slider__wrapper
              //- span(id="current-value").range-slider__current-value 20&nbsp;000&nbsp;000
              input(type="number" id="current-value" value="20000000").range-slider__current-value
              span ₽
              input(type="range" id="custom-slider" value="20000000" min="10000000" max="40000000" step="1000000").custom-slider
            .range-slider__scale
              span 10
              span 20
              span 30
              span 40+
          .input-wrapper.input-wrapper--area
            label(for="area") Площадь
            .input-wrapper__container
              button(type="button" aria-label="уменьшить").btn.btn--minus -
              input(type="number" id="area" value="200" min="1" max="10000")
              span м
                sup 2
              button(type="button" aria-label="увеличить").btn.btn--plus +
          .input-wrapper.input-wrapper--toggle
            span Отделка
            label(for="whitebox").input-wrapper__label Вайтбокс
            input(type="checkbox" id="whitebox" checked)
            span.input-wrapper__toggle
          .input-wrapper
            label(for="phone") Телефон
            input(type="tel" id="phone" value="" tabindex="0" placeholder="+7" pattern="\\+7\\s[0-9]{3}\\s\\d{3}[-]{0,1}\\d{2}[-]{0,1}\\d{2}" required)
          .input-wrapper.input-wrapper--email
            label(for="email") Почта
            input(type="email" id="email" required)
            +icon("icon-delete", 12, 12).input-wrapper__icon.input-wrapper__icon--delete
            +icon("icon-check", 16, 11).input-wrapper__icon.input-wrapper__icon--check
          .input-wrapper.input-wrapper--upload
            label Приложить файлы
            .input-wrapper__upload
              input(type="file" id="images" name="images").ad-form__input.visually-hidden
              label(for="images").ad-form__drop-zone Кликните или перенесите файлы в эту область. Только JPG, до 1 Мб
            .input-wrapper__files
          .input-wrapper.input-wrapper--select
            label Удобства
            .custom-select
              .custom-select__top
                span.custom-select__current Любые
                +icon("icon-select", 24, 24).custom-select__icon
              .custom-select__bottom
                .custom-select__item Кирпичный
                .custom-select__item Деревянный
                .custom-select__item Монолитный
                .custom-select__item Каркасный
                .custom-select__item Щитовой
                .custom-select__item Кирпичный
                .custom-select__item Деревянный
                .custom-select__item Монолитный
                .custom-select__item Каркасный
                .custom-select__item Щитовой
          .input-wrapper.input-wrapper--password
            label(for="user-password") Пароль
            input(type="password" id="user-password")
            +icon("icon-eye-off", 24, 24)
          .input-wrapper.input-wrapper--wishes
            label(for="wishes") Пожелания
            input(type="text" id="wishes" placeholder="укажите через запятую")
          .tags
            //- span Кондиционер
            //-   +icon("icon-delete", 12, 12)
            //- span Холодильник
            //-   +icon("icon-delete", 12, 12)
            //- span Интернет
            //-   +icon("icon-delete", 12, 12)
          button(type="submit").btn.btn--blue.section-form__button Отправить заявку
