.btn {
  display: inline-flex;
  // margin: 10px 0;
  padding: 10px 14px;

  color: $color-default-white;
  background-color: $color-default-white;
  border: none;
  // border: 1px solid #E1E1E1;
  cursor: pointer;

  transition: opacity $trans-default;

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }

  &--bath,
  &--sauna,
  &--hamam,
  &--all {
    color: $color-night-rider;
    background-color: $color-solitude;
    border-radius: 10px;
    padding: 4px 10px;
    padding: 4px 18px;
    font-size: 16px;
    line-height: 32px;
    font-weight: 500;

    &.is-active {
      color: $color-default-white;
      background-color: $color-navy-blue;
    }
  }

  &--minus {
    border-right: 1px solid $color-gainsboro;
    left: 1px;
    bottom: 1px;
    border-radius: 4px 0px 0px 4px;
  }
  &--plus {
    border-left: 1px solid $color-gainsboro;
    right: 1px;
    bottom: 1px;
    border-radius: 0px 4px 4px 0px;
  }

  &--minus,
  &--plus {
    width: 54px;
    height: 54px;
    color: $color-navy-blue;
    font-size: 30px;
    padding: 10px 20px;
    transition: color $trans-default, background-color $trans-default;

    &:hover {
      background-color: $color-navy-blue;
      color: $color-default-white;
    }
  }
}

.btn__filter {
  margin-left: 4px;
  margin-right: 4px;
}
