.gallery {
  margin: 0 auto;
  padding-bottom: 164px;

  .container {
    max-width: unset;

    @include vp-767 {
      padding: 0 16px;
    }
  }

  &__title {
    margin: 0;
    font-size: 48px;
    line-height: 64px;
    margin-bottom: 10px;

    @include vp-767 {
      font-size: 40px;
      line-height: 56px;
      text-align: center;
      margin-bottom: 19px;
    }
  }

  &__paragraph {
    margin: 0;
    margin-bottom: 63px;

    @include vp-767 {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 38px;
    }
  }

  &__intro {
    margin: 0 auto;
    margin-bottom: 40px;
    max-width: 884px;

    @include vp-767 {
      margin-bottom: 26px;
    }

    .container {
      padding: 0 64px;

      @include vp-1023 {
        padding: 0 24px;
      }

      @include vp-767 {
        padding: 0 16px;
      }
    }
  }
}
