.gallery {
  margin: 0 auto;
  padding-bottom: 164px;

  .container {
    max-width: unset;
    @include vp-767 {
      padding: 0 16px;
    }
  }

  &__filter {
    text-align: center;
    @include vp-767 {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &__filter-btn {
    margin-left: 4px;
    margin-right: 4px;

    @include vp-767 {
      margin: 0;
    }

    @include vp-374 {
      margin-bottom: 16px;
    }
  }

  &__slider-pagination {
    display: flex;
    margin: 0 auto;
    margin-top: 44px;
    justify-content: center;
    span {
      display: block;
      width: 16px;
      height: 16px;
      border-radius: 100px;
      background-color: $color-whisper;
      margin-right: 8px;
      margin-left: 8px;

      @include vp-767 {
        width: 12px;
        height: 12px;
        margin-left: 6px;
        margin-right: 6px;
      }

      &.active {
        background-color: $color-navy-blue;
      }
    }

    @include vp-767 {
      margin-top: 24px;
    }
  }

  &__slider {
    width: 100%;
    overflow: hidden;
    position: relative;

    &:hover {
      .gallery__btn-prev,
      .gallery__btn-next {
        opacity: 1;
      }
    }
  }

  &__slider-track {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 430px);
    grid-auto-flow: column dense;
    grid-template-rows: repeat(2, 242px);
    grid-template-rows: 242px 242px;
    grid-gap: 24px;
    max-height: 508px;

    @include vp-767 {
      grid-template-columns: repeat(auto-fill, 167px);
      grid-template-rows: 94px 94px;
      grid-gap: 10px;
    }
  }

  &__slide {
    width: 430px;
    height: 242px;
    text-align: center;
    font-size: 18px;
    background: #fff;

    @include vp-767 {
      img {
        width: 167px;
        height: 94px;
      }
    }

    @include vp-374 {
      width: 167px;
      height: 94px;
    }
  }

  &__title {
    margin: 0;
    font-size: 48px;
    line-height: 64px;
    margin-bottom: 10px;

    @include vp-767 {
      font-size: 40px;
      line-height: 56px;
      text-align: center;
      margin-bottom: 19px;
    }
  }

  &__paragraph {
    margin: 0;
    margin-bottom: 63px;

    @include vp-767 {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 38px;
    }
  }

  &__intro {
    margin: 0 auto;
    margin-bottom: 40px;
    max-width: 884px;

    @include vp-767 {
      margin-bottom: 26px;
    }

    .container {
      padding: 0 64px;

      @include vp-1023 {
        padding: 0 24px;
      }

      @include vp-767 {
        padding: 0 16px;
      }
    }
  }

  &__btn-prev,
  &__btn-next {
    opacity: 0;
    cursor: pointer;
    border: none;
    position: absolute;
    bottom: 45%;
    padding: 20px;
    width: 80px;
    height: 80px;
    border-radius: 100px;
    background-color: $color-default-white;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05), 0px 0.1px 0.3px rgba(0, 0, 0, 0.014), 0px 0.3px 0.8px rgba(0, 0, 0, 0.02), 0px 0.5px 1.5px rgba(0, 0, 0, 0.025), 0px 0.9px 2.7px rgba(0, 0, 0, 0.03), 0px 1.7px 5px rgba(0, 0, 0, 0.036);
    transition: opacity $trans-default, background-color $trans-default;

    @include vp-767 {
      display: none;
    }

    svg {
      color: $color-navy-blue;
      transition: color $trans-default;
      width: 21px;
      height: 21px;
    }

    &:disabled {
      svg {
        opacity: 0.7;
      }
    }

    &:hover,
    &:focus {
      background-color: $color-navy-blue;

      svg {
        color: $color-default-white;
      }
    }
  }

  &__btn-prev {
    left: 97px;
  }

  &__btn-next {
    right: 97px;
  }
}
