.intro {
  max-width: 884px;
  margin: 0 auto;

  .container {
    padding: 0;
  }
}

.intro__breadcrumbs {
  margin: 0 auto;
  margin-top: 83px;
  margin-bottom: 15px;
}

.intro__title {
  font-size: 64px;
  line-height: 64px;
  font-weight: 700;
  text-align: center;
}
