.section-table {
  max-width: 884px;
  margin: 0 auto;
  padding-bottom: 104px;

  .container {
    padding: 0;

    @include vp-767 {
      padding: 0 16px;
    }
  }

  h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;

    @include vp-767 {
      text-align: center;
      font-size: 40px;
      line-height: 56px;
    }
  }

  p {
    @include vp-767 {
      font-size: 16px;
      line-height: 24px;
    }
  }

  .table {
    // padding-left: 31px;
    border-collapse: collapse;
    width: 100%;

    thead {
      @include vp-767 {
        display: none;
      }
    }

    th,
    td {
      font-size: 16px;
      line-height: 24px;
    }
    th {
      font-weight: 600;
      text-align: left;
      padding-top: 15px;
      padding-bottom: 15px;
      border-top: 1px solid #E1E1E1;
      border-bottom: 1px solid #E1E1E1;
      background-color: $color-chost-white;
    }

    td {
      border-bottom: 1px solid #E1E1E1;
      padding-top: 11px;
      padding-bottom: 13px;
      width: 200px;
    }

    th:first-child,
    td:first-child {
      padding-left: 31px;
      // padding-right: 64px;
      width: 255px;

      @include vp-767 {
        width: 100%;
        padding-left: 0;
        padding-left: 38%;
      }
    }
    th:last-child,
    td:last-child {
      padding-right: 31px;
      width: 255px;

      @include vp-767 {
        width: 100%;
        padding-right: 0;
      }
    }

    td:last-child {
      display: flex;
      align-items: center;
      text-align: right;
    }

    &__button {
      background: rgba(0, 102, 204, 0.1);
      border-radius: 4px;
      color: $color-navy-blue;
      font-size: 14px;
      line-height: 24px;
      font-weight: 600;
      // max-width: 98px;
      height: 32px;
      margin-left: auto;
      margin-right: 0;
      display: flex;
      align-items: center;
      transition: color $trans-default, background-color $trans-default;

        &:hover {
          background-color: $color-navy-blue;
          color: $color-default-white;
        }
    }
  }

  .table,
  .table tbody,
  .table tr,
  .table td {
    @include vp-767 {
      display: block;
		  width: 100%;
    }
  }

  .table tr {
    @include vp-767 {
      margin-bottom: 15px;
    }
	}

  .table td {
    @include vp-767 {
      width: 100%;
      text-align: right;
		  padding-left: 38%;
      text-align: left;
		  // text-align: right;
		  position: relative;
      border-top: 1px solid $color-gainsboro;
    }
  }

  .table td::before {
    @include vp-767 {
      content: attr(data-label);
      background-color: $color-chost-white;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 35%;
      padding-top: 15px;
      padding-left: 15px;
      font-size: 15px;
      font-weight: bold;
      text-align: left;
    }
  }
}

