.section-form {
  max-width: 884px;
  margin: 0 auto;
  padding-bottom: 104px;

  .container {
    padding: 0;

    @include vp-767 {
      padding: 0 16px;
    }
  }

  .section-form__wrapper {
    background: $color-chost-white;
    border-radius: 20px;
    padding: 78px 96px 80px;
    width: 842px;

    @include vp-767 {
      padding: 16px;
      border-radius: 0;
      padding: 32px;
    }
  }

  .section-form__title {
    margin: 0;
    font-size: 48px;
    line-height: 64px;
    margin-bottom: 10px;

    @include vp-767 {
      width: 100%;
      text-align: center;
      font-size: 40px;
      line-height: 56px;
    }
  }

  p {
    margin: 0;
    margin-bottom: 55px;

    @include vp-374 {
      font-size: 16px;
      line-height: 24px;
    }
  }

  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    flex-direction: row;

    h3 {
      margin: 0;
      width: 100%;
      font-size: 36px;
      line-height: 40px;
      // letter-spacing: -2px;
      margin-bottom: 47px;

      @include vp-767 {
        width: 100%;
        text-align: center;
      }
    }

    input[type=range]::-webkit-slider-thumb {
      -webkit-appearance: none;
    }

    input:not(input[type="range"]) {
      font-size: 16px;
      line-height: 24px;
      height: 56px;
      outline: none;
      border: 1px solid $color-gainsboro;
      border-radius: 4px;
      padding-left: 16px;
      padding-right: 16px;
      transition: border-color $trans-default;

      @include vp-767 {
        width: 100%;
      }

      &:hover,
      &:focus {
        border-color: $color-navy-blue;
      }
    }

    input::placeholder {
      color: $color-santas-grey;
      font-size: 16px;
      line-height: 24px;
    }

    input[type="text"] {
      width: 100%;
    }

    .input__wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      // margin-top: 35px;
      margin-bottom: 38px;

      @include vp-767 {
        width: 100%;
      }

      label {
        margin-bottom: 11px;
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
      }

      button {
        position: absolute;
      }
    }

    button[type="submit"] {
      display: flex;
      align-items: center;
      font-size: 16px;
      line-height: 24px;
      font-weight: 600;
      height: 56px;
      border-radius: 4px;
      color: $color-default-white;
      background-color: $color-navy-blue;
      margin-top: 48px;
      padding-left: 28px;
      padding-right: 28px;

      @include vp-767 {
        margin: 0 auto;
        margin-top: 48px;
      }
    }

    input[type="text"] {
      width: 650px;

      @include vp-767 {
        width: 100%;
      }
    }

    .input__wrapper--area {
      width: 222px;
    }

    .input__wrapper--area .input__container {
      position: relative;
    }

    input[type="number"] {
      width: 222px;
      text-align: center;
      color: $color-black-russain;

      @include vp-767 {
        width: 100%;
      }
    }
    input[type="tel"] {
      width: 222px;

      @include vp-767 {
        width: 100%;
      }
    }
    input[type="email"] {
      width: 397px;

      @include vp-767 {
        width: 100%;
      }
    }

    input[type="email"] ~ .input__delete {
      position: absolute;
      right: 22px;
      bottom: 20px;
      width: 12px;
      height: 12px;
      visibility: hidden;
      cursor: pointer;
      transition: opacity $trans-default;
      color: $color-amaranth;

      &:hover,
      &:focus {
        opacity: 0.7;
      }
    }

    input[type="email"] ~ svg {
      position: absolute;
      right: 22px;
      bottom: 20px;
      width: 12px;
      height: 12px;
      visibility: hidden;
      cursor: pointer;
      transition: opacity $trans-default;
      color: $color-amaranth;

      &:hover,
      &:focus {
        opacity: 0.7;
      }
    }

    input[type="password"] {
      width: 309px;

      @include vp-767 {
        width: 100%;
      }
    }

    input[type="password"] ~ svg {
      position: absolute;
      right: 10px;
      bottom: 15px;
      width: 24px;
      height: 24px;
      fill: $color-default-white;
      stroke: $color-santas-grey;
      cursor: pointer;
      transition: stroke $trans-default;
    }

    input[type="password"] ~ svg:hover {
      stroke: $color-black-russain;
    }

    input[type="checkbox"] {
      position: absolute;

      width: 1px;
      height: 1px;
      margin: -1px;

      clip: rect(0 0 0 0);
    }

    .input__wrapper--toggle {
      width: 125px;
      flex-direction: unset;
      flex-wrap: wrap;

      span {
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
      }

      @include vp-374 {
        width: 100%;
        flex-wrap: nowrap;
        flex-direction: row;
      }
    }
    .input__wrapper-label {
      font-size: 16px;
      line-height: 24px;
      margin-left: auto;
      position: absolute;
      top: 60px;
      right: 0;
      width: 100%;
      text-align: right;
      z-index: 10;
      cursor: pointer;

      @include vp-767 {
        top: unset;
        order: 3;
        margin-left: 10px;
        position: unset;
        width: unset;
      }
    }

    input[type="checkbox"] ~ .input__wrapper-toggle {
      position: absolute;
      top: 60px;
      height: 24px;
      width: 44px;
      display: inline;

      @include vp-767 {
        position: relative;
        top: unset;
        margin-left: auto;
      }
      &::after {
        position: absolute;
        left: 0;
        top: 0;
        content: '';
        display: block;
        width: 44px;
        height: 24px;
        border-radius: 100px;
        background-color: $color-chost;
        border: 1px solid transparent;
      }
      &::before {
        position: absolute;
        left: 2px;
        top: 2px;
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 100px;
        background-color: $color-default-white;
        z-index: 10;
      }
    }
    input[type="checkbox"]:checked ~ .input__wrapper-toggle {
      &::after {

        background-color: $color-navy-blue;
        border: 1px solid $color-navy-blue;
      }
      &::before {
        background-color: $color-default-white;
        left: unset;
        right: 2px;
      }
    }
  }
}
