.tags {
  margin: 0;
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 16px;

  span {
    color: $color-default-white;
    padding: 7px 16px;
    background-color: $color-smoky;
    border-radius: 100px;
    margin-right: 8px;
    // margin-bottom: 8px;
    font-size: 14px;
    line-height: 16px;
    height: 32px;

    svg {
      color: $color-default-white;
      width: 8px;
      height: 8px;
      margin-left: 8px;
      cursor: pointer;
      transition: opacity $trans-default;

      &:hover,
      &:focus {
        opacity: 0.7;
      }
    }
  }
}
