@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Rouble";

  font-display: swap;
  src:
    url("../fonts/rouble.woff2") format("woff2"),
    url("../fonts/rouble.woff") format("woff");
}

// @font-face {
//   font-style: normal;
//   font-weight: 400;
//   font-family: "";

//   font-display: swap;
//   src:
//     url("../fonts/.woff2") format("woff2"),
//     url("../fonts/.woff") format("woff");
// }

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Gilroy";

  font-display: swap;
  src:
    url("../fonts/gilroy-regular.woff2") format("woff2"),
    url("../fonts/gilroy-regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Gilroy";

  font-display: swap;
  src:
    url("../fonts/gilroy-madium.woff2") format("woff2"),
    url("../fonts/gilroy-madium.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Gilroy";

  font-display: swap;
  src:
    url("../fonts/gilroy-semibold.woff2") format("woff2"),
    url("../fonts/gilroy-semibold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Gilroy";

  font-display: swap;
  src:
    url("../fonts/gilroy-bold.woff2") format("woff2"),
    url("../fonts/gilroy-bold.woff") format("woff");
}
