doctype html

include ../components

block variables

html(lang="ru")
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="description", content="Test task Design Lab")

    link(rel="preload", href="fonts/gilroy-regular.woff2", as="font", crossorigin="anonymous")
    link(rel="preload", href="fonts/gilroy-medium.woff2", as="font", crossorigin="anonymous")
    link(rel="preload", href="fonts/gilroy-semibold.woff2", as="font", crossorigin="anonymous")
    link(rel="preload", href="fonts/gilroy-bold.woff2", as="font", crossorigin="anonymous")
    link(rel="stylesheet", href="css/style.min.css")

  body
    +sprite()
    .wrapper(class=wrapperMods)
      if (hasHeader)
        +header(headerMods, currentUrl)

      block main

    block modals

    script(src="js/main.min.js")
