// Vendor
// ---------------------------------

// @import "vendor/normalize";

// Global
// ---------------------------------

@import "variables";
@import "mixins";
@import "global/fonts";
@import "global/reboot";
@import "global/utils";
@import "global/container";

// Blocks
// ---------------------------------

@import "blocks/header";
@import "blocks/main-nav";
@import "blocks/btn";
@import "blocks/custom-select";
@import "blocks/section-table";
@import "blocks/table";
@import "blocks/section-form";
@import "blocks/intro";
@import "blocks/breadcrumbs";
@import "blocks/gallery";
@import "blocks/range-slider";
@import "blocks/tags";
@import "blocks/slider";
@import "blocks/filter";
@import "blocks/pagination";
@import "blocks/modal";
