// Colors
// ---------------------------------

$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-transparent:                 rgba(255, 255, 255, 0);

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

$color-night-rider:                 #333333;
$color-navy-blue:                   #0066CC;
$color-bright-grey:                 #52575F;
$color-chost-white:                 #F5F5F7;
$color-santas-grey:                 #9B9B9E;
$color-black-russain:               #1d1d1f;
$color-smoky:                       #58585D;
$color-chost:                       #BABAC2;
$color-amaranth:                    #DC3545;
$color-gainsboro:                   #E1E1E1;
$color-solitude:                    #F2F4F7;
$color-whisper:                     #E6E6E6;

// Typography
// ---------------------------------

$ff-rouble:                         "Rouble", "Arial", sans-serif;
$ff-placeholder:                    "Gilroy", "Arial", sans-serif;

// Animation
// ---------------------------------

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;

// Viewports
// ---------------------------------

$vp-320:                            320px;
$vp-375:                            375px;
$vp-768:                            768px;
$vp-1024:                           1024px;
$vp-1280:                           1280px;
$vp-1440:                           1440px;
$vp-1920:                           1920px;
