mixin modal-cart()
  .modal__header
    span.modal__title.modal__caption Товар добавлен в корзину
  .modal__body
    button(type="button" class="modal__continue" data-close-modal).btn.btn--light-blue Вернуться на сайт
    button(type="button" class="modal__gotocart" data-close-modal).btn.btn--blue Оформить заказ
  .modal__footer
